/* css styles */

/* add to you stylesheet */
.img-left {
  float: left;
  margin-right: 1em;
}


/*-- scss:defaults --*/

$navbar-hl: #E4B7E5;



/*-- scss:rules --*/

/* unvisited link */
a:link {
  color:  #E4B7E5;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #E4B7E5;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:  #E4B7E5;
  text-decoration: underline;
  
}

/* selected link */
a:active {
  color:  #E4B7E5;
  text-decoration: none;
} 


